services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      GENERIC_TIMEZONE: "Asia/Tokyo"
      TZ: "Asia/Tokyo"
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
      N8N_RUNNERS_ENABLED: "true"
      WEBHOOK_URL: "https://n8n.odaneo.com"
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped
    networks:
      - web-network

networks:
  web-network:
    external: true

volumes:
  n8n_data:
    external: true