@import "tailwindcss";
@plugin "daisyui" {
  themes: wireframe;
}

@theme inline {
  --font-sans: var(--font-noto-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

@layer base {
  :root {
    --notion-max-width: 950px !important;
  }
  html {
    font-family: var(--font-sans);
  }
  code,
  pre {
    font-family: var(--font-mono);
  }
}
